<h3>_GrandChildComponent</h3>

<div>
    <p>Message - @Penguin</p>
    <p>Second Param - @LuckyNum</p>
</div>

@code {
    [CascadingParameter(Name = "message")]
    public string Penguin { get; set; }
    [CascadingParameter(Name = "luckyNum")]
    public string LuckyNum { get; set; }
}
