@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" Request="Please take a" Link="https://go.microsoft.com/fwlink/?linkid=2149017" />