@page "/categories"

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-info">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="category/create" class="btn btn-info form-control">Add New Category</a>
    </div>
</div>
@code {

    

    List<CategoryDto> categories = new List<CategoryDto>();
    //protected override Task OnInitializedAsync()
    //{
        
    //}
}
